
*.avi
*.hpp

ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/include/MPCPathFollowing_1v.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/COPYING.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/FORCES_PRO_Logo.jpg
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v_build.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v_mex.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v_simulinkBlock.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1v_simulinkBlockcompact.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/interface/MPCPathFollowing_1vcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/lib/libMPCPathFollowing_1v.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/lib/libMPCPathFollowing_1v.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v/MPCPathFollowing_1v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_model_31.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_model_31.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_1v_simulinkBlockcompact.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/include/MPCPathFollowing_2v.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/COPYING.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/FORCES_PRO_Logo.jpg
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v_build.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v_mex.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v_simulinkBlock.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2v_simulinkBlockcompact.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/interface/MPCPathFollowing_2vcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/lib/libMPCPathFollowing_2v.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/lib/libMPCPathFollowing_2v.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v/MPCPathFollowing_2v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/include/MPCPathFollowing_2v_alpha.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/COPYING.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/FORCES_PRO_Logo.jpg
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha_build.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha_mex.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha_simulinkBlock.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alpha_simulinkBlockcompact.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/interface/MPCPathFollowing_2v_alphacompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/lib/libMPCPathFollowing_2v_alpha.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/lib/libMPCPathFollowing_2v_alpha.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha/MPCPathFollowing_2v_alpha.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_model_31.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_model_31.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_simulinkBlockcompact.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_model_31.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_model_31.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_simulinkBlockcompact.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/include/MPCPathFollowing_3v.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/COPYING.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/FORCES_PRO_Logo.jpg
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v_build.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v_mex.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v_simulinkBlock.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3v_simulinkBlockcompact.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/interface/MPCPathFollowing_3vcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/lib/libMPCPathFollowing_3v.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/lib/libMPCPathFollowing_3v.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v/MPCPathFollowing_3v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_model_31.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_model_31.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_simulinkBlockcompact.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_model_40.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_IBR_model_40.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_IBR_model_40.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_2v_alpha_model_40.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_IBR_model_40.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_IBR_model_40.c
ForcesKinematicVersion_GameTheory/Compile_controllers.asv
ForcesKinematicVersion_GameTheory/3v_intersection.eps
ForcesKinematicVersion_GameTheory/3v_left_side_penalized.eps
ForcesKinematicVersion_GameTheory/3v_speed_intersection.eps
ForcesKinematicVersion_GameTheory/3v_speed_leftside_penalized.eps
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_model_40.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_model_40.obj
ForcesKinematicVersion_GameTheory/untitled.eps
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_simulinkBlockcompact.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_model_40.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_model_40.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/lib/libMPCPathFollowing_3v_IBR.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/lib/libMPCPathFollowing_3v_IBR.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/interface/MPCPathFollowing_3v_IBRcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/interface/MPCPathFollowing_3v_IBR_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/include/MPCPathFollowing_3v_IBR.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/lib/libMPCPathFollowing_3v_IBR.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/lib/libMPCPathFollowing_3v_IBR.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/interface/MPCPathFollowing_3v_IBRcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/interface/MPCPathFollowing_3v_IBR_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/include/MPCPathFollowing_3v_IBR.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/lib/libMPCPathFollowing_3v_IBR.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/lib/libMPCPathFollowing_3v_IBR.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/interface/MPCPathFollowing_3v_IBRcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/interface/MPCPathFollowing_3v_IBR_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_3v_IBR/include/MPCPathFollowing_3v_IBR.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_simulinkBlockcompact.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_70.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_70.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_50.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_50.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_40.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_40.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_100.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/MPCPathFollowing_5v_IBR.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/lib/libMPCPathFollowing_5v_IBR.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/lib/libMPCPathFollowing_5v_IBR.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBRcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR_simulinkBlockcompact.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR_simulinkBlock.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR_mex.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR_build.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/MPCPathFollowing_5v_IBR.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/FORCES_PRO_Logo.jpg
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/definitions.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/interface/COPYING.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR/include/MPCPathFollowing_5v_IBR.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_IBR.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/include/MPCPathFollowing_5v.h
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/COPYING.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/definitions.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/FORCES_PRO_Logo.jpg
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v_build.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v_mex.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v_simulinkBlock.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5v_simulinkBlockcompact.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/interface/MPCPathFollowing_5vcompact_lib.mdl
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/lib/libMPCPathFollowing_5v.a
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/lib/libMPCPathFollowing_5v.so
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v/MPCPathFollowing_5v.m
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_casadi2forces.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_casadi2forces.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_mex_compiler_warnings.txt
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_model_1.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_model_1.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_model_40.c
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_model_40.obj
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_py.py
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_simulinkBlock.mexw64
ForcesKinematicVersion_GameTheory/MPCPathFollowing_5v_simulinkBlockcompact.mexw64
